@namespace Mediconnect.Web.Components.Shared

<div class="skeleton-pulse rounded-3 @Class" style="@Style"></div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Style { get; set; } = "";
}
